*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;

    
}
a:link{}
a:visited{}
a:hover{}
a:active{}

header{
    padding-top: 54px;
    /* padding-top: 5%; */
    display: flex;
    justify-content: center;
    align-items: center;
}

nav{
    height: 31px;
    position: absolute;
    padding-top: 218px;
    padding-left: 57%;

    display: flex;
    align-items: center;
}
nav ul{

    display: flex;
    justify-content: space-between;
}

section{


    /* width: 1920px; */
    /* height: 100vh; */
    height: 1080px;
    position: relative;
    background-image: url(img/pic_main.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;


}

/* .uncle{
    width: 100vw;
    height: 100vh;
    background-image: url(img/pic_main.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    

} */

.menu_main{
    /* position: relative; */
}

footer{

}

.footer_img01{
    position: absolute;
    padding-top: 871px;
    padding-left: 21%;
}
.footer_img02{
    position: absolute;
    padding-top: 899px;
    padding-left: 46%;

}